<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Huckleberry</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style>
      .anchor{
        display: block;
        height: 100;
        margin-top: -100;
        visibility: hidden;
      }
      .header{
        position: fixed;
        top: 0;
        background-color: indigo;
        width: 100%;
        text-align: center;
      }
      .header-headline-text{
        color: white;
      }
      .right{
        float: right;
        text-align: center;
        width: 50%;
      }
      .left{
        float: left;
        text-align: center;
        width: 50%;
      }
      .entries-of-404{
        color: brown;
        display: none;
      }
      .entries-of-400s{
        color: DarkOrange;
        display: none;
      }
      .entries-of-500s{
        color: blue;
        display: none;
      }
      .entries-of-fatal{
        color: red;
      }
      .entries-of-error{
        color: indigo;
      }
      .well{
        margin: 3px;
      }
    </style>
  </head>
  <body>
    <div class="header">
    <h1 class="header-headline-text">Huckleberry</h1>
      <button class="btn"><a href="#return_to_top" style='color: green'>Return to Top</a></button>
      <button id="button-404" class="btn" style='color: brown'>Show 404s</button>
      <button id="button-400s" class="btn" style='color: DarkOrange'>Show 400s(excluding 404)</button>
      <button id="button-500s" class="btn" style='color: blue'>Show 500s</button>
      <button id="button-fatal" class="btn" style='color: red'>Hide FATALs</button>
      <button id="button-error" class="btn" style='color: indigo'>Hide ERRORs</button>
      <button id="button-non-tracked" class="btn" >Hide Untracked logs</button>
    </div>
    <div class="wrapper" style='margin-top: 100px'>
      <a name="return_to_top" class='anchor'></a>
      <div class="well">
        <div class="left">
          <h4>This logfile is <%= @original_logfile_name %></h4>
          <p>This report was made at: <%= DateTime.now.to_s %></p>
        </div>
        <div class="right">
          <h4>KEY: [index in log in original file] - [log entry]</h4>
          <p>EX: 9931 - E, [2015-08-07T14:00:30.029282 #22753] ERROR -- : 400:</p>
        </div>
        <hr>
      </div>
      <div id="log-list">
        <% unless @duplicate_logs.empty? %>
          <h2>Duplicate log entries found:</h2>
          <% @duplicate_logs.each do |log| %>
            <%= log %>
          <% end %>
        <% end %>
        <% if @raw_message.empty? %>
          <h2 class="center">No abnormal logs have been found!</h2>
        <% else %>
          <% @raw_message.each do |log| %>
            <% if log =~ / 404 / %>
              <p class="well entries-of-404"><%= log %></p>
            <% elsif log =~ /( (4[0-9][0-9]) |\(4[0-9][0-9]\))/ %>
              <p class="well entries-of-400s"><%= log %></p>
            <% elsif log =~ /( (5[0-9][0-9]) |\(5[0-9][0-9]\))/ %>
              <p class="well entries-of-500s"><%= log %></p>
            <% elsif log =~ /FATAL/i %>
              <p class="well entries-of-fatal"><%= log %></p>
            <% elsif log =~ /ERROR/i %>
              <p class="well entries-of-error"><%= log %></p>
            <% else %>
              <p class="well entries-non-tracked"><%= log %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
    $(function() {
      $("#button-404").click(function() {
        $(".entries-of-404").toggle();
        $(this).text(function(i, text) {
          return text === "Show 404s" ? "Hide 404s" : "Show 404s";
        });
      });
      $("#button-400s").click(function() {
        $(".entries-of-400s").toggle();
        $(this).text(function(i, text) {
          return text === "Show 400s(excluding 404)" ? "Hide 400s(excluding 404)" : "Show 400s(excluding 404)";
        });
      });
      $("#button-500s").click(function() {
        $(".entries-of-500s").toggle();
        $(this).text(function(i, text) {
          return text === "Show 500s" ? "Hide 500s" : "Show 500s";
        });
      });
      $("#button-non-tracked").click(function() {
        $(".entries-non-tracked").toggle();
        $(this).text(function(i, text) {
          return text === "Hide Untracked logs" ? "Show Untracked logs" : "Hide Untracked logs";
        });
      });
      $("#button-fatal").click(function() {
        $(".entries-of-fatal").toggle();
        $(this).text(function(i, text) {
          return text === "Hide FATALs" ? "Show FATALs" : "Hide FATALs";
        });
      });
      $("#button-error").click(function() {
        $(".entries-of-error").toggle();
        $(this).text(function(i, text) {
          return text === "Hide ERRORs" ? "Show ERRORs" : "Hide ERRORs";
        });
      });
    });
    </script>
  </footer>
</html>
